*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--color7);
}
:root{
    --color1:#fff;
    --color2:#000;
    --color3:#134563;
    --color4:#817278;
    --color5:#4f698c;
    --color6:#5c748e;
    --color7:#8a9fb4;
    --color7:#ccc;
    
}